<!DOCTYPE html>
<html>
<head>
    <title>IWA 3rd assignment</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style.css") }}'>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4Oo1uh3NgU7WcL04hwGltzG_JSpzJ0Zk&sensor=false">
    </script>
    <script src='{{ url_for("static", filename="js/handlebars-v1.3.0.js") }}'></script>
</head>

<body>
    <div class='row center-block text-center'>
        <div class='col-lg-12'>
            <h1>App for IWA3</h1>

            <p>Search for venue near provided location.</p>
            <p id="warning" style="display: none; color: red;"></p>
        </div>
    </div>
    <div class='row center-block text-center'>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="venue">Venue name</label>
                <input type="text" class="form-control" id="venue" placeholder="Venue" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Location" required>
            </div>
            <button id="submit" type="button" class="btn btn-default">Search</button>
        </form>
    </div>
    <br />
    <div class="row text-center">
        <div id="map-canvas" class="center-block"></div>
        <div id="loading"></div>
    </div>

    {% raw %}
        <script id="popup-template" type="text/x-handlebars-template">
            <div>
                <h3>{{ name }}</h3>
                <p>URL: <a href="{{ url }}">{{ url }}</a></p>
                {{#if contact.twitter}}
                <p>Twitter: <a href="https://twitter.com/{{contact.twitter}}">{{ contact.twitter }}</a></p>
                {{/if}}
                {{#if contact.phone}}
                <p>Phone: {{ contact.phone }}</p>
                {{/if}}
                {{#if location}}
                <p>Address: {{#if location.address}}{{ location.address }},{{/if}} {{#if location.city}}{{ location.city }},{{/if}} {{#if location.postalCode}}{{ location.postalCode }} {{/if}} {{#if location.cc}}{{ location.cc }}{{/if}}</p>
                {{/if}}
            </div>
        </script>
    {% endraw %}


    </div>
</div>

<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
<script src='{{ url_for("static", filename="js/iwa3.js") }}' type='text/javascript'></script>
</body>
</html>
